
.contentProfilePhoto img {
    width: 100%;
}

.contentProfileInfo{
    display: flex;
}

.contentProfileInfo img{
    height: 170px;
    border-radius: 50%;
    padding: 20px;
}

.contentDescription{
    margin: 20px;
}

.nameAndLocation{
    display: flex;
    justify-content: space-around;
}

.laravel_icon {
    background: url("src/assets/navigation.png") no-repeat left center;
    background-size: 16px;
    display:inline-block;
    vertical-align:bottom;
    padding-left: 25px;
}

