.app-wrapper{
    display: grid;
    grid-template-areas: "h h"
    "n content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    width: 80%;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #E9F0F8;
}

