.dialogs{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.dialogsItem{
    padding: 10px;
}

.active {
    color: #0077B5;
}

.dialog{

}
.messages{

}

.message{

}
